@model NYKalleMaintV01.Models.tblSpil

@{
    ViewBag.Title = "Create";
}

<h2>Create Spil - @ViewBag.SpillerNavn</h2>

<div>
    @Html.ActionLink("Back to List", "Index", new { URLspillerId = ViewBag.URLspillerId }) 
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
    @* Skal ikke bruges. Spilleren er allerede valgt.
        <div class="form-group">
            @Html.LabelFor(model => model.CN_SpilSpillerPK, "CN_SpilSpillerPK", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CN_SpilSpillerPK", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CN_SpilSpillerPK, "", new { @class = "text-danger" })
            </div>
        </div>
    *@       
        <div class="form-group">
            @Html.LabelFor(model => model.CN_SpilDato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CN_SpilDato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CN_SpilDato, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CN_SpilSesson, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CN_SpilSesson, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CN_SpilSesson, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CN_SpilKalleKamel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.CN_SpilKalleKamel)
                    @Html.ValidationMessageFor(model => model.CN_SpilKalleKamel, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CN_SpilPlacering, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CN_SpilPlacering, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CN_SpilPlacering, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CN_SpilGennemsnit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CN_SpilGennemsnit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CN_SpilGennemsnit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
